.dialog :global(.p-dialog-header) {
  background-color: #0763e7;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
