.header {
  background-color: #0763e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.2rem;
  color: white;
}

.iconButton{
  color: white !important;
  background: none !important;
  border: none !important;
  padding: 0.5rem;
}

